# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Don't ignore the htaccess in files anymore
!sites/*/files/.htaccess

# Special cal mens files
/css
/css/*
/elgg
/elgg/*
/img
/img/*
/tmp
/tmp/*
/webmail
/webmail/*
/squirrelmail
/squirrelmail/*
/test

